@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

body{
  font-family: "Work Sans", Sans-serif;
  background-color: #f5f6f7;
}

/**
 * Extra small devices (portrait phones, less than 576px)
 * No media query since this is the default in Bootstrap
 */

#nav {
  padding: 40px;
  text-align: center;
  width: 100%;
}

#footer{
  padding: 40px;
  text-align: center;
  width: 100%;
}

img{
  width: 100%;
}

img[alt='wide']{
  width: 100%;
}

h1 {
  font-size: 54px;
  margin-bottom: 40px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

li {
  font-size: 24px;
  line-height: 1.8;
}

a {
  cursor: pointer;
  text-decoration: underline;
  padding: 3px 6px;
  color: #000;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  img[alt='wide']{
    width: 1024px;
    margin-left: -25%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}